.fon{
    
    background:  url(./fon19.png), url(./fon17.jpg);   
    background-repeat: no-repeat;
    background-size: concat;
 position: relative;
 top: 0px;
 
 
 /*margin-left: auto;
    margin-right: auto;*/
}
.section{
    
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

   /* margin-right: 50px;
    margin-left: 50px;*/
    display: flex;
    
}
.photo{
    display: block;
   /* padding-right: 30px;*/
    padding-bottom: 0px;
}
.myPhoto{
    float: right;
    
}