.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   width: 100%;
    margin-top: 0px;
    padding-left: 0px;
    
    
}
.authNavContainer{
 border: 2px solid rgb(68, 26, 40 , 0.1);
  background: rgb(68, 26, 40 , 0.7);
}

.authNav { 
    font-family: Dancing Script;
  text-decoration: none;
  display: inline-block;
  position: relative;
  height: 50px;
  margin: 0px;
  font-weight: bold;
  padding: 15px 0 0 0;
  color: #e4dcdc;
}

/*анимация*/
.nav h2:after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0;
  visibility: hidden;
  background-color: rgb(68, 26, 40);
  -webkit-transition: all .1s ease;
  transition: all 0.3s ease;  
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.nav h2:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.nav h2:hover {
  color: rgb(68, 26, 40);
}